<form {{action "save" on="submit"}}>
  <div>
    <label>
      First name
      {{input type="text" value=model.firstName}}
    </label>
  </div>
  <div>
    <label>
      Last name
      {{input type="text" value=model.lastName}}
    </label>
  </div>
  <div>
    <label>
      Age
      {{input type="text" value=model.age}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
