<h1>Users list</h1>

<p>
  {{link-to "New User" "users.new" }}
</p>

{{#if model.length}}
  <table>
    <thead>
      <tr>
        <th>
          First name
        </th>
        <th>
          Last name
        </th>
        <th>
          Age
        </th>
        <th colspan="3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each user in model}}
        <tr>
          <td>
            {{user.firstName}}
          </td>
          <td>
            {{user.lastName}}
          </td>
          <td>
            {{user.age}}
          </td>
          <td>
            {{link-to "Edit" "users.edit" user}}
          </td>
          <td>
            {{link-to "Show" "users.show" user}}
          </td>
          <td>
            <a href="#" {{action "remove" user}}>Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No Users found
  </p>
{{/if}}
