<p>
  {{link-to "User list" "users.index" }}
</p>

<h1>User show</h1>

<p>
  <strong>First name:</strong>
  <span>{{model.firstName}}</span>
</p>

<p>
  <strong>Last name:</strong>
  <span>{{model.lastName}}</span>
</p>

<p>
  <strong>Age:</strong>
  <span>{{model.age}}</span>
</p>

