<div class="btn-group btn-group-sm">
  {{link-to 'Home' 'application' class='btn btn-info'}}
  {{#if session.isAuthenticated}}
      <a {{ action 'invalidateSession' }} class="btn btn-warning">Logout</a>
  {{else}}
    {{link-to 'Login' 'login' class='btn btn-success'}}
  {{/if}}
  {{link-to usersTabTitle 'users' class='btn btn-default'}}
</div>
<hr>
{{outlet}}
