<form {{action 'authenticate' on='submit'}}>
  {{debugger}}
    <label for="identification">Login</label>
  {{input value=identification placeholder='Enter Login'}}
    <label for="password">Password</label>
  {{input value=password placeholder='Enter Password' type='password'}}
    <button type="submit">Login</button>
</form>
<h3>login: <b>asdf@asdf.asdf</b></h3>
<h3>pass: <b>asdfasdf</b></h3>